{% extends 'note_base.html' %}
{% block content %}

<h1>Note List</h1>

{% for note in notes %}
<div class="card">
    <a href="{% url 'notes_detail' note.id %}">
        <div class="card-content">
            <span class="card-title">{{ note.note }}</span>   
        </div>
        <div class="card-action">
            <a href="{% url 'notes_update' note.id %}" class="waves-effect waves-light btn">Edit</a>
            <a href="{% url 'notes_delete' note.id %}" class="waves-effect waves-light btn red">Delete</a>
          </div>
    </a>
</div>
{% endfor %}

{% endblock %}