{% extends 'base.html' %}
{% block content %}

<h1>Todo Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ todo.todo }}</span>
            <p>Category: {{ todo.get_category_display }}</p>
            <p>Description: {{ todo.description }}</p>
            <p>Due Date: {{ todo.date }}</p>
            <p>Time: {{ todo.time}}</p>
            
        </div>
  </div>
  <!-- Insert photo markup below this comment -->
  {% for photo in todo.photo_set.all %}
  <img class="responsive-img card-panel" src="{{photo.url}}">
{% empty %}
  <div class="card-panel teal-text center-align">No Photos Uploaded</div>
{% endfor %}

<form action="{% url 'add_photo' todo.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
  {% csrf_token %}
  <input type="file" name="photo-file">
  <br><br>
  <input type="submit" class="btn" value="Upload Photo">
</form>



  <div class="card-action">
    <a href="{% url 'todos_update' todo.id %}" class="waves-effect waves-light btn">Edit</a>
    <a href="{% url 'todos_delete' todo.id %}" class="waves-effect waves-light btn red">Delete</a>
  </div>
</div>


{% endblock %}

