{% extends 'base.html' %}
{% block content %}

<h1>Todos List</h1>

{% for todo in todos %}
<div class="card">
    <a href="{% url 'todos_detail' todo.id %}">
        <div class="card-content">
            <span class="card-title"><h3>{{ todo.todo }}</h3></span>
            <h4>Due Date: {{ todo.date }}</h4>
            <h4>Time: {{ todo.time }}</h4>
            <h5>Category: {{ todo.get_category_display }}</h5>
        </div>
        <div class="card-action">
            <a href="{% url 'todos_update' todo.id %}" class="waves-effect waves-light btn">Edit</a>
            <a href="{% url 'todos_delete' todo.id %}" class="waves-effect waves-light btn red">Delete</a>
        </div>
    </a>
</div>
{% endfor %}

{% endblock %}