{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Tracker</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
 

  <link rel="icon"href="{% static 'favicon/icon.ico' %}">
  
</head>

<body>
  
    <nav class="nav-extended">
      <div class="nav-wrapper indigo">
        <ul>

        <li><a href="/" class="center brand-logo"><i class="large material-icons">done_all</i>&nbsp;&nbsp;Tracker</a></li>
        <a href="#" data-target="mobile-demo" class="left sidenav-trigger"><i class="material-icons">menu</i></a>

        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'notes_index' %}">Notes</a></li>
        <li><a href="{% url 'todos_create' %}">Create a Todo</a></li>
        <li><a href="{% url 'index' %}">View All My Todos</a></li>
        <li><a href="{% url 'logout' %}">Log Out</a></li>
        {% else %}
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
        <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
        </ul>
      </div>
      <ul class="sidenav" id="mobile-demo">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'notes_index' %}">Notes</a></li>
        <li><a href="{% url 'todos_create' %}">Create a Todo</a></li>
        <li><a href="{% url 'index' %}">View All My Todos</a></li>
        <li><a href="{% url 'logout' %}">Log Out</a></li>
        {% else %}
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
        <li><a href="{% url 'login' %}">Log In</a></li>
        {% endif %}
      </ul>
    </nav>
 
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="right page-footer indigo">
    <footer>All Rights Reserved, &copy; 2021 Tracker</footer>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script language="javascript">
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var sidenav = M.Sidenav.init(elems);
    console.log("This is the sidenav!", elems)
  });
  </script>
</body>

</html>