{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet'>
    <title>Tracker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="icon"href="{% static 'favicon/icon.ico' %}">
    <link rel="stylesheet" href="{% static 'images/home_about-background.jpg' %}">
</head>

<body class="home-bg">
    
        <nav class="nav-extended">
            <div class="nav-wrapper purple darken-1">
                <ul>
                    <li><a href="/" class="center brand-logo"><i class="large material-icons">done_all</i>&nbsp;&nbsp;Tracker</a></li>
                    <a href="#" data-target="mobile-demo" class="left sidenav-trigger"><i class="material-icons">menu</i></a>
                </ul>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <!-- <li><a href="{% url 'home' %}">Home</a></li> -->
                    <li><a href="{% url 'about' %}">About</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'notes_index' %}">Notes</a></li>
                    <li><a href="{% url 'index' %}">Todos</a></li>
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                    {% else %}
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
            <ul class="sidenav" id="mobile-demo">
                <!-- <li><a href="{% url 'home' %}">Home</a></li> -->
                <li><a href="{% url 'about' %}">About</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'notes_index' %}">Notes</a></li>
                    <li><a href="{% url 'index' %}">Todos</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'login' %}">Log In</a></li>
                {% endif %}
              </ul>
        </nav>
        <div class="card blue darken-1">
            <div class="card-content">
                <h4 class="center-align">Welcome to Tracker</h2>
                <h5 class="center-align">Where GA Students get organized</h3>
            </div>
        </a>
    </div>
    
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <!-- <div class="container py-5">
        <div class="row mb-4">
            <div class="col-lg-5">
                <h2 class="display-4 font-weight-light">Our Team</h2>
            </div>
        </div>
        <div class="row text center">
            <div class="col-xl-4 col-sm-6 mb-5">

            </div>
        </div>
    </div> -->
    

    <footer class="right page-footer purple darken-1">
        <footer>All Rights Reserved, &copy; 2021 Tracker</footer>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script language="javascript">
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var sidenav = M.Sidenav.init(elems);
        console.log("This is the sidenav!", elems)
      });
      </script>
</body>

</html>